$color: green;
$hoverColor: red;

html {
  margin: 0;
  padding: 0;
}

@mixin headerBlock {
  text-align: center;
  display: block;
  max-width: 100vw;
  height: 70px;
  background-color: $color;
  transition: ease-in
}

div {
  @include headerBlock();
}

div:hover {
  background-color: $hoverColor;
}