html {
  margin: 0;
  padding: 0;
}

div {
  text-align: center;
  display: block;
  max-width: 100vw;
  height: 70px;
  background-color: #2de72d;
  transition: ease-in;
}

div:hover {
  background-color: #9900ff;
}